.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn, .btn-large, .btn-small {
    background-color: red;
}


.recipe-card {
    background-color:#fafafa;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.recipes {
    width: 100%;
    min-height: 50vh;
    padding: 50px 0;
}


.card .card-image .card-title {
    color: #515251;
    background-color: #f5e9e9;
    font-weight: 500;
    padding: 0 10px;
    font-size: 1.3em;
    border-top-right-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

}
