{% extends "base.html" %}
{% block content %}

<!---- Page Heading ---->
<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading fira-sans">Add your own pizza recipe here!</h3>
    </div>
</div>
<!---- Add Recipe Form ---->
<section class="form-container fira-sans">
    <div class="row form-row">
        <form action="{{ url_for('add_recipe') }}" method="POST" class="col s12 m10 offset-m1 l10 offset-l1">
            <div class="card-panel">
                <div class="row">
                    <!-- Select category -->
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix form-icon"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Recipe Category</label>
                    </div>
                </div>
            </div>
            <div class="card-panel">
                <!---- Recipe name ---->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix form-icon"></i>
                        <input type="text" id="recipe_name" name="recipe_name" minlength="3" maxlength="25"
                            class="validate" required>
                        <label for="recipe_name">Pizza Recipe Name</label>
                    </div>
                </div>
                <!---- Recipe Image URl ---->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-image prefix form-icon"></i>
                        <input type="url" id="image_url" name="image_url" class="validate" pattern="https?://.+" required>
                        <label for="image_url">Recipe Image URL</label>
                    </div>
                </div>
                <!---- Ingredients ---->
                <div id="ingredients-row" class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ul prefix form-icon"></i>
                        <input type="text" id="ingredients" name="ingredients" minlength="3" class="validate" required>
                        <label for="ingredients">Ingredients</label>
                    </div>
                </div>
                <!---- Alergens ---->
                <div id="alergens-row" class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ul prefix form-icon"></i>
                        <input type="text" id="alergens" name="alergens" minlength="2" class="validate" required>
                        <label for="alergens">Alergens</label>
                    </div>
                </div>
                <!---- Baking Time ----->
                <div id="baking-time-row" class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ul prefix form-icon"></i>
                        <input type="text" id="baking_time" name="baking_time" minlength="2" class="validate" required>
                        <label for="baking_time">Baking Time</label>
                    </div>
                </div>
                <div id="ingredient-row" class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list-ul prefix form-icon"></i>
                        <input type="text" id="recipe_description" name="recipe_description">
                        <label for="recipe_description">Recipe Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <i class="fab fa-pagelines prefix vegan_tooltip"></i>
                            <label for="is_vegan">
                                <input type="checkbox" id="is_vegan" name="is_vegan">
                                <span class="lever"></span>
                                Vegan Pizza
                            </label>
                        </div>
                    </div>
                </div>
                <!---- Add Recipe and Cancel Button---->
                <div class="row btn-row valign-wrapper center-align">
                    <div class="col s12 center-align">
                        <button type="submit" class="add-recipe-btn text-shadow">Add Recipe</button>
                    </div>
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_pizzas', username=session['user']) }}"
                            class="cancel-btn text-shadow">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}