{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12">
        <h3 class="center-align">
            {{ pizza.recipe_name }}
        </h3>
    </div>
    <h5> This is an {{ pizza.category_name }} recipe by: {{ pizza.created_by }}</h5>
</div>

<section>
    <div class="row">
        <div class="col s12 m6 xl5">
            <div class="">
                <img src="{{ pizza.image_url }}">
            </div>
        </div>
        <div class="col s12 m6 xl5">
            <div class="card-panel center-align">
                <div class="row">
                    <div class="col s12">
                        <h4>Ingredients:</h4><br>
                        {{ pizza.ingredients }}
                    </div>
                </div>
                {% if session.user|lower == pizza.created_by|lower %}
                <div class="row center-align">
                    <div class="col s12">
                        <div class="col s6 m6">
                            <a class="" href="{{ url_for('edit_recipe', pizza_id=pizza._id) }}">Edit</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col s12 m6 xl5">
            <div class="card-panel center-align">
                <div class="row">
                    <div class="col s12">
                        <h4>Alergens:</h4><br>
                        {{ pizza.alergens }}
                    </div>
                </div>
                {% if session.user|lower == pizza.created_by|lower %}
                <div class="row center-align">
                    <div class="col s12">
                        <div class="col s6 m6">
                            <a class="" href="{{ url_for('edit_recipe', pizza_id=pizza._id) }}">Edit</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col s12 m6 xl5">
            <div class="card-panel center-align">
                <div class="row">
                    <div class="col s12">
                        <h4>Baking Time:</h4><br>
                        {{ pizza.baking_time }}
                    </div>
                </div>
                {% if session.user|lower == pizza.created_by|lower %}
                <div class="row center-align">
                    <div class="col s12">
                        <div class="col s6 m6">
                            <a class="" href="{{ url_for('edit_recipe', pizza_id=pizza._id) }}">Edit</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col s12 m6 xl5">
            <div class="card-panel center-align">
                <div class="row">
                    <div class="col s12">
                        <h4>Recipe Description:</h4><br>
                        {{ pizza.recipe_description }}
                    </div>
                </div>
                {% if session.user|lower == pizza.created_by|lower %}
                <div class="row center-align">
                    <div class="col s12">
                        <div class="col s6 m6">
                            <a class="" href="{{ url_for('edit_recipe', pizza_id=pizza._id) }}">Edit</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}