{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">
            Pizzas
        </h3>
    </div>
</div>


<section class="search">
    <div class="row card-panel search-panel">
        <form class="col s12" action="{{ url_for('search') }}" method="POST">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes, Alergens, Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a class="btn" href="{{ url_for('get_pizzas') }}">Reset</a>
                    <button class="btn" type="submit"><i class="fas fa-search left"></i>Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% if pizzas|length > 0 %}
<section class="recipes">
    <div class="row">
        {% for pizza in pizzas %}
        <div class="col s12 m6 l6 xl4">
            <div class="card large recipe-card">
                <div class="card-image">
                    <img src="{{ pizza.image_url }}">
                </div>
                <div class="card-content content center-align">
                    <h3 class="recipe-heading">{{ pizza.recipe_name }}
                        {% if pizza.is_vegan == "on" %}
                        <i class="fab fa-pagelines vegan_tooltip tooltipped" data-position="right"
                            data-tooltip="Vegan!"></i>
                        {% endif %}
                    </h3>
                    <span>Alergens: {{ pizza.alergens }}<br>
                        Ingredients: {{ pizza.ingredients }}<br>
                        By: {{ pizza.created_by }}
                    </span>
                </div>
                {% if session.user|lower == pizza.created_by|lower %}
                <div class="row btn-row-recipe">
                    <div class="col s12">
                        <div class="col s6 m6">
                            <a class="btn-edit" href="{{ url_for('edit_recipe', pizza_id=pizza._id) }}">Edit</a>
                        </div>
                        <div class="col s6 m6">
                            <a class="btn-delete" href="{{ url_for('delete_recipe', pizza_id=pizza._id) }}">Delete</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="card-action btn-box center-align">
                    <a href="#">Full Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% else %}
<div class="row no-results-row valign-wrapper">
    <div class="col s12">
        <h3 class="center-align no-results-heading">No Results found</h3>
    </div>
</div>
{% endif %}

{% endblock %}