{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12">
        <h3 class="center-align page-heading">
            Pizzas
        </h3>
    </div>
</div>
{% if pizzas|length > 0 %}
<section class="recipes">
    <div class="row">
        {% for pizza in pizzas %}
        <div class="col s12 m6 l6 xl4">
            <div class="card large recipe-card">
                <div class="card-image">
                    <img src="{{ pizza.image_url }}" alt="{{ pizza.recipe_name }}">
                </div>
                <div class="card-content content center-align">
                    <h3 class="recipe-heading">{{ pizza.recipe_name }}</h3>
                    <span>{{ pizza.ingredients }}</span>
                </div>
                <div class="card-action btn-box center-align">
                    <a href="#">Full Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% else %}
<div class="row no-results-row valign-wrapper">
    <div class="col s12">
        <h3 class="center-align no-results-heading">No Results found <span>🤔</span></h3>
    </div>
</div>
{% endif %}

{% endblock %}