{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12">
            <h3 class="center-align page-heading">
                Pizzas
            </h3>
        </div>
    </div>

    <ul class="collapsible">
        {% for pizza in pizzas %}
        <li>
            <div class="collapsible-header yellow darken-3">
                <i class="fas fa-utensils"></i>
                {{ pizza.recipe_name }} : {{ pizza.ingredients }}
            </div>
            <div class="collapsible-body">
                {{ pizza.category_name }}
                <p>{{ pizza.alergens }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}